*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hero-top{
    background-color: rgb(240, 61, 61);
    height: 430px;
    border-bottom-left-radius: 100px;
    
}
header{
    margin-left: 50px;
    padding-top: 30px;
    display: flex;
    list-style: none;
}
.logo{
    margin-top: -10px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.arrowdown{
     display: flex;
     margin-left: 50px;
}
.arrowdown li a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}
.arrow{
    margin-left: 10px;
}
.flip{
    transform: rotate(180deg);
}
.product-dropdown li,
.company-dropdown li,
.connect-dropdown li{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 30px;
}
.product-dropdown li h4,
.company-dropdown li h4,
.connect-dropdown li h4{
    cursor: pointer;
}
.product-dropdown li h4:hover,
.company-dropdown li h4:hover,
.connect-dropdown li h4:hover{
    border-bottom: 2px solid white;
}
.product-dropdown ul, .company-dropdown ul, .connect-dropdown ul{
    display: none;
    padding-top: 5px;
    list-style: none;
    margin-top: 20px;
    width: 130px;
    height: 110px;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
    position: absolute;
}


.product-dropdown ul{
    height: 170px;
    width: 150px;
}
.company-dropdown ul{
   height: 140px;
}
.product-dropdown ul a,
.company-dropdown ul a,
.connect-dropdown ul a{
    color: black;
    text-align: left;
}
.product-dropdown ul li,
.company-dropdown ul li,
.connect-dropdown ul li{
    margin-top: 10px;
}
.product-dropdown ul a:hover,
.company-dropdown ul a:hover,
.connect-dropdown ul a:hover{
    font-weight: bold;
}


.arrowdown li i{
    color: white;
    margin-left: 10px;
}
.right-nav{
    display: flex;
    list-style: none;
    margin-left: 400px;
}
.right-nav li a{
    text-decoration: none;
    color: white;
    margin-left: 50px;
}
.sign-button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: rgb(240, 61, 61);
    font-weight: bolder;
    margin-top: -15px;
    cursor: pointer;
}
.hero-text{
    margin-top: 60px;
    text-align: center;
   
}
.hero-text h1{
    font-size: 50px;
    color: white; 
}
.hero-text p{
    margin-top: 10px;
    font-size: large;
    color: white;
}
.buttons{
    margin-top: 50px;
}
.free{
    margin-bottom: 15px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: rgb(240, 61, 61);
    font-weight: bold;
    cursor: pointer;
}
.learn{
        margin-bottom: 15px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
    margin-left: 10px;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.one{
    margin-top: 100px;
    padding-left: 50px;
    margin-bottom: 100px;
}
.one h2{
    text-align: center;
}
.block{
    margin-top: 70px;
    width: 45%;
}
.block1 p{
    font-size: small;
    line-height: 20px;
}
.flex{
    display: flex;
}
.block h3{
    padding-bottom: 30px;
}
.block2 p{
    font-size: small;
    line-height: 20px;
}
.block2 h3{
    margin-top: 70px;
}
.two{
    height: 250px;
    background-color: rgb(28, 13, 41);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.block3{
    margin-left: 20px;
}
.block3 h3{
    margin-top: 60px;
    margin-bottom: 20px;
    color: white;
}
.block3 p{
    width: 60%;
    color: white;
    font-size: small;
    line-height: 20px;
}

.three{
    margin-top: 100px;
}

.block4{
    margin-left: 150px;
}
.block4 p{
    font-size: small;
    line-height: 20px;
}
.block5{
    margin-top: 40px;
    margin-left: 150px;
}
.block5 p{
    font-size: small;
    line-height: 20px;
}

footer{
    height: 250px;
    margin-top: 70px;
    background-color: rgb(0, 0, 0) ;
    border-top-right-radius: 100px;
    padding-top: 30px;
    padding-left: 40px;
}
.related-topics{
    display: flex;
    margin-left: 150px;
}
.product{
    margin-right: 100px;
    list-style: none;
}
.product li{
   line-height: 30px;
}
.product li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.638);
}
.product h4{
    color: white;
}
.company{
    margin-left: 100px;
    list-style: none;
}
.company li{
   line-height: 30px;
}
.company li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.638);
}
.company h4{
    color: white;
}
.connect{
    margin-left: 200px;
    list-style: none;
}
.connect li{
   line-height: 30px;
}
.connect li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.638);
}
.connect h4{
    color: white;
}
.list{
    margin-top: 10px;
}
.open{
    display: block !important;
}
.open2{
    display: flex;
}
.modal{
    display: none;
}
.close-modal{
    display: none;
}